apps/api/workflows/Magic string transform.json
{
  "name": "Magic string transform",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const value = $('trigger').first().json.args.value\nreturn {\n  result: `|${value.toUpperCase()}|`\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        64
      ],
      "id": "7299abd5-a2b7-4496-bd76-e23a86269c61",
      "name": "transform",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"env\": \"prod\",\n  \"args\": {\n    \"value\": \"salut\"\n  }\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -96,
        160
      ],
      "id": "3aa4ad7e-ccb7-4bcb-a5e7-d93d7585899a",
      "name": "trigger",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "55569727-851d-47b3-aa1a-3d2553979194",
              "leftValue": "={{ $json.env }}",
              "rightValue": "prod",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        160
      ],
      "id": "67837f31-8f7f-4915-814f-e7384e2a11e5",
      "name": "execute only on prod"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sGtdsgqw1glt1Gsk",
          "mode": "list",
          "cachedResultUrl": "/workflow/sGtdsgqw1glt1Gsk",
          "cachedResultName": "execution environment"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "env": "={{ $json.env }}"
          },
          "matchingColumns": [
            "env"
          ],
          "schema": [
            {
              "id": "env",
              "displayName": "env",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        128,
        160
      ],
      "id": "4e68e9a0-7545-4fa7-823d-deaaaca79aa3",
      "name": "execution environment"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"result\": null\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        256
      ],
      "id": "6b73bdb6-73c4-43cc-a63a-c7347c0e02cc",
      "name": "empty result"
    }
  ],
  "pinData": {
    "trigger": [
      {
        "json": {
          "env": "prod",
          "args": {
            "value": "salut"
          }
        }
      }
    ]
  },
  "connections": {
    "trigger": {
      "main": [
        [
          {
            "node": "execution environment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transform": {
      "main": [
        []
      ]
    },
    "execute only on prod": {
      "main": [
        [
          {
            "node": "transform",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "empty result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "execution environment": {
      "main": [
        [
          {
            "node": "execute only on prod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "013e09e6-0f70-4af2-8083-fe03fcc175e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6184e1afa301f25a1cf75f619fd5916c48a753207fc6d805c573e3e816bfea27"
  },
  "id": "LSAthHlDbmkeRxvX",
  "tags": []
}